.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width:70px;
    padding:5px;
    margin: 0 6px 6px;
    background: rgb(134, 134, 222);
    text-decoration:dotted;
    text-align:center;
    font-size: min(10vw, 15px);
    color:white;
}

.nav-link:hover{
    background-color: rgb(165, 165, 165)
}

.active{
    color:rgb(164, 249, 80);
}